<div class="container">
    <h1 align="center">Employee List</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Manager Id</th>
                <th scope="col">Salary</th>
                <th scope="col">Department Id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <th scope="row">{{employee.empId}}</th>
                <td>{{employee.name}}</td>
                <td>{{employee.designation}}</td>
                <td>{{employee.dateOfBirth | date:'dd-MMM-yyyy'}}</td>
                <td>{{employee.managerId}}</td>
                <td>{{employee.salary | currency:'INR'}}</td>
                <td>{{employee.deptId}}</td>
            </tr>
        </tbody>
    </table>
</div>